<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <style type="text/css">
	#table1{
			border-radius:25px;
			}
			a{
			text-decoration : none;
			color:white;
			}
			a:hover{
					color:black; 
					text-decoration:underline ;
				}
        
        
</style>
</head>
<body>
    {{>navbar}}
    <br>
    <img src="images/au2.jpg" height="200px">
    <br>
    <br>
    <!--<h3><i class="fa fa-users" aria-hidden="true"></i> About Us</h3> -->
    <div class="twoboxes">
      <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <h3><i class="fa fa-users" aria-hidden="true"></i> <b>About Us</b></h3>
            <div class="aboutsection">
            <p><font size="3">Indian Railway Catering and Tourism Corporation Ltd. (IRCTC) is a “Mini Ratna (Category-I)” Central Public Sector Enterprise under Ministry of Railways, Government of India. IRCTC was incorporated on 27 th September, 1999 as an extended arm of the Indian Railways to upgrade, professionalize and manage the catering and hospitality services at stations, on trains and other locations and to promote domestic and international tourism through development of budget hotels, special tour packages, information &amp; commercial publicity and global reservation systems. The authorized capital of the company is <i class="fa fa-inr" aria-hidden="true"></i>250 crores and paid up capital is <i class="fa fa-inr" aria-hidden="true"></i>160 crores, fully subscribed by Ministry of Railways, Government of India. It’s registered and Corporate Office is situated at New Delhi.</font></p>

            <br><hr><br>

            <h3><b>The core activities of the Company are detailed below:</b></h3>
            <font size="3">
            <ul class="liststylingsk">
                <li>Commodity Reservation</li> 
                <li>Catering &amp; Hospitality</li>
                <li>Internet Ticketing</li>
                <li>Travel &amp;Tourism</li> 
                <li>Packaged Drinking Water (Rail Neer)</li>                           
            </ul> 
            </font>
            <br><hr><br>

            <h3><b>At present, the Company operates through:</b></h3>
            <font size="3">
            <ul class="liststylingsk">
                <li>Fourteen Rail Neer Plants at Nangloi-Delhi, Danapur-Bihar, Palur-Tamil Nadu, Ambernath-Maharashtra, Amethi  (Uttar Pradesh), Parassala-, Tamil Nadu, Bilaspur (Chhatisgarh) Hapur (Uttar Pradedh), Sanand- Gujaratd, Mandideep-Madhya Pradesh, Jagiroad-Assam, Maneri-(Madhya Pradesh), Nagpur, (Maharashtra) and Sankrail-Kolkatta</li>
                <li>11 Base Kitchens at located at New Delhi, Howrah, Ahmedabad, Patna, Mumbai Central, Mumbai CST, Ballarshah, Nagpur, Balasore, Sealdah and Kharagpur Jn 5 Zonal Offices, namely, New Delhi, Mumbai, Kolkata, Chennai, Secundrabad; </li>
                <li>Five Zonal Offices at New Delhi, Mumbai, Kolkata, Chennai &amp; Secundrabad</li>
                <li>Ten Regional Offices at Lucknow, Chandigarh, Jaipur, Bhopal, Ahmadabad, Guwahati, Bhubaneswar, Patna, Ernakulam and Bangalore;</li>
                <li>One Internet Ticketing Office at New Delhi</li>
                <li>One Tourism office at New Delhi.</li>
            </ul>   
            </font>         

          </div>   
        </div>
        </div>

      </div>
    </div>

    <!-- footer code -->
    {{>footer}}
</body>
</html>