<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    {{>headerlinks}}

        <link rel="stylesheet" id="fl-builder-layout-2279-css" href="https://groverwebdesign.com/wp-content/uploads/bb-plugin/cache/2279-layout.css?x61543" >
        <link rel="stylesheet" id="fl-builder-layout-bundle-3db31f81c4a1876c1a6fa71188279c04-css" href="https://groverwebdesign.com/wp-content/uploads/bb-plugin/cache/3db31f81c4a1876c1a6fa71188279c04-layout-bundle.css?x61543" >
        <link rel="stylesheet" id="bootstrap-css" href="https://groverwebdesign.com/wp-content/themes/bb-theme/css/bootstrap.min.css?x61543" >
        <link rel="icon" href="images/favicon.webp">

        <style id="wp-custom-css">
            input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date], input[type=month], input[type=week], input[type=time], input[type=number], input[type=search], input[type=url] { height:50px; background-color: #f6f6f6; display: block; margin: 5px 0 0; padding: 15px; border: 0; border-radius: 0; outline: 0; resize: none; font-size: 13px; line-height: 17px; color: #818181; font-family: Raleway; font-weight: 400; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none; border-radius:0px !important;}
            textarea.form-control { background-color: #f6f6f6; display: block; margin: 5px 0 0; padding: 15px; border: 0; border-radius: 0; outline: 0; resize: none; font-size: 13px; line-height: 17px; color: #818181; font-family: Raleway; font-weight: 400; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none; border-radius:0px !important;}
            #submit-contact-form { background-color: #b22828 !important; border: 0px !important; padding: 12px 25px !important; color: #fff !important; font-size: 18px !important; letter-spacing: 2px !important; font-weight: bold !important; text-transform: uppercase; text-decoration: none; border-radius: 5px !important; font-family: "Raleway",sans-serif !important;}      
        </style>
        <style>
            body{
            background-color:#e1e4ff;
            /*background-image: url("images/abc.jpg");*/
        }
        .spanclass{
            background-color:rgb(11, 13, 20);
        }

        </style>
        
</head>


<body>
    {{>navbar}}

<div class="fl-col-group fl-node-5ccc18cac8f1c fl-col-group-equal-height fl-col-group-align-center" data-node="5ccc18cac8f1c">
<div class="fl-col fl-node-5ccc18cac8f1f fl-col-small" data-node="5ccc18cac8f1f">
<div class="fl-col-content fl-node-content">
<div class="fl-module fl-module-heading fl-node-5ccc18cac8f37" data-node="5ccc18cac8f37">
<div class="fl-module-content fl-node-content">
<h4 class="fl-heading">
<span class="fl-heading-text">Contact Us!</span>
</h4>
</div>
</div>
<div class="fl-module fl-module-rich-text fl-node-5ccc19445967a" data-node="5ccc19445967a">
<div class="fl-module-content fl-node-content">
<div class="fl-rich-text">
<p>We can’t solve your problem if you don’t tell us about it!</p>
</div>
</div>
</div>
<div class="fl-module fl-module-rich-text fl-node-5ccc197c249aa" data-node="5ccc197c249aa">
<div class="fl-module-content fl-node-content">
<div class="fl-rich-text">
<p></p><div role="form" class="wpcf7" id="wpcf7-f118-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/#wpcf7-f118-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="118">
<input type="hidden" name="_wpcf7_version" value="5.4">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f118-o1">
<input type="hidden" name="_wpcf7_container_post" value="0">
<input type="hidden" name="_wpcf7_posted_data_hash" value="">
</div>
<div class="form-group">
<span id="wpcf7-606120f824256-wrapper" class="wpcf7-form-control-wrap subject-wrap" style="display:none !important; visibility:hidden !important;"><label for="wpcf7-606120f824256-field" class="hp-message">Please leave this field empty.</label><input id="wpcf7-606120f824256-field" class="wpcf7-form-control wpcf7-text" type="text" name="subject" value="" size="40" tabindex="-1" autocomplete="new-password" aria-invalid="false"></span><br>
<span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="name" aria-required="true" aria-invalid="false" placeholder="Your Name"></span>
</div>
<div class="form-group">
<span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id="email" aria-required="true" aria-invalid="false" placeholder="Email"></span>
</div>
<div class="form-group">
<span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="8" class="wpcf7-form-control wpcf7-textarea form-control" id="message" aria-invalid="false" placeholder="Message"></textarea></span>
</div>
<div class="form-group" style="margin-top:5px;">
<input type="hidden" name="source-url" value="" class="wpcf7-form-control wpcf7-hidden" aria-invalid="false">
<p> <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-orange btn-half-block" id="submit-contact-form" aria-invalid="false"><span class="ajax-loader"></span>
</p></div>
<p style="font-size:10px; line-height:12px;">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
<div class="wpcf7-response-output" aria-hidden="true"></div></form></div><p></p>
</div>
</div>
</div>
</div>
</div>
<div class="fl-col fl-node-5ccc18cac8f1d fl-col-small" data-node="5ccc18cac8f1d">
<div class="fl-col-content fl-node-content">
<div class="fl-module fl-module-icon fl-node-5ccc1e3c3fba0" data-node="5ccc1e3c3fba0">
<div class="fl-module-content fl-node-content">
<div class="fl-icon-wrap">
<span class="fl-icon">
<a href="https://www.google.com/maps/place/Jaipur,+Rajasthan/@26.8851417,75.6504723,11z/data=!3m1!4b1!4m5!3m4!1s0x396c4adf4c57e281:0xce1c63a0cf22e09!8m2!3d26.9124336!4d75.7872709" target="_blank" tabindex="-1" aria-hidden="true" aria-labelledby="fl-icon-text-5ccc1e3c3fba0" rel="noopener">
<i class="fas fa-home" aria-hidden="true"></i>
</a>
</span>
<div id="fl-icon-text-5ccc1e3c3fba0" class="fl-icon-text">
<a href="https://www.google.com/maps/place/Jaipur,+Rajasthan/@26.8851417,75.6504723,11z/data=!3m1!4b1!4m5!3m4!1s0x396c4adf4c57e281:0xce1c63a0cf22e09!8m2!3d26.9124336!4d75.7872709" target="_blank" class="fl-icon-text-link fl-icon-text-wrap" rel="noopener">
<p>Jaipur, IN</p> </a>
</div>
</div>
</div>
</div>
<div class="fl-module fl-module-icon fl-node-5ccc1efcd70e6" data-node="5ccc1efcd70e6">
<div class="fl-module-content fl-node-content">
<div class="fl-icon-wrap">
<span class="fl-icon">
<a href="https://www.google.com/maps?client=ubuntu&hs=5dq&channel=fs&sxsrf=ALeKk02EEBceYOhq3lR5bXb6TydXOsRETw:1617005620128&gs_lcp=Cgdnd3Mtd2l6EAMyBggAEAcQHjIICAAQBxAKEB4yBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeOgcIIxCwAxAnOgcIABCwAxBDOgcILhCwAxBDOg0ILhDHARCvARCwAxBDOgIIJlDmEFirHmDEIWgBcAJ4AIAB2gKIAfgNkgEHMC40LjMuMZgBAKABAaoBB2d3cy13aXrIAQrAAQE&uact=5&q=bangalore+map&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiSyN79h9XvAhUe63MBHbtbCMoQ_AUoAXoECAEQAw" target="_blank" tabindex="-1" aria-hidden="true" aria-labelledby="fl-icon-text-5ccc1efcd70e6" rel="noopener">
<i class="fas fa-home" aria-hidden="true"></i>
</a>
</span>
<div id="fl-icon-text-5ccc1efcd70e6" class="fl-icon-text">
<a href="https://www.google.com/maps?client=ubuntu&hs=5dq&channel=fs&sxsrf=ALeKk02EEBceYOhq3lR5bXb6TydXOsRETw:1617005620128&gs_lcp=Cgdnd3Mtd2l6EAMyBggAEAcQHjIICAAQBxAKEB4yBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeOgcIIxCwAxAnOgcIABCwAxBDOgcILhCwAxBDOg0ILhDHARCvARCwAxBDOgIIJlDmEFirHmDEIWgBcAJ4AIAB2gKIAfgNkgEHMC40LjMuMZgBAKABAaoBB2d3cy13aXrIAQrAAQE&uact=5&q=bangalore+map&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiSyN79h9XvAhUe63MBHbtbCMoQ_AUoAXoECAEQAw" target="_blank" class="fl-icon-text-link fl-icon-text-wrap" rel="noopener">
<p>Banglore, IN</p> </a>
</div>
</div>
</div>
</div>
<div class="fl-module fl-module-icon fl-node-5ccc1f3b737e4" data-node="5ccc1f3b737e4">
<div class="fl-module-content fl-node-content">
<div class="fl-icon-wrap">
<span class="fl-icon">
<a href="tel:8290613054" target="_blank" tabindex="-1" aria-hidden="true" aria-labelledby="fl-icon-text-5ccc1f3b737e4" rel="noopener">
<i class="fas fa-phone-square" aria-hidden="true"></i>
</a>
</span>
<div id="fl-icon-text-5ccc1f3b737e4" class="fl-icon-text">
<a href="tel:8290613054" target="_blank" class="fl-icon-text-link fl-icon-text-wrap" rel="noopener">
<p>8290613054</p> </a>
</div>
</div>
</div>
</div>
<div class="fl-module fl-module-icon fl-node-5ccc1f91596be" data-node="5ccc1f91596be">
<div class="fl-module-content fl-node-content">
<div class="fl-icon-wrap">
<span class="fl-icon">
<a href="mailto:neetukumawat661@gmail.com" target="_blank" tabindex="-1" aria-hidden="true" aria-labelledby="fl-icon-text-5ccc1f91596be" rel="noopener">
<i class="fas fa-envelope" aria-hidden="true"></i>
</a>
</span>
<div id="fl-icon-text-5ccc1f91596be" class="fl-icon-text">
<a href="mailto:neetukumawat661@gmail.com" target="_blank" class="fl-icon-text-link fl-icon-text-wrap" rel="noopener">
<p>neetukumawat661@gmail.com</p> </a>
</div>
</div>
</div>
</div>
<div class="fl-module fl-module-icon-group fl-node-5ccc1fee0b467" data-node="5ccc1fee0b467">
<div class="fl-module-content fl-node-content">
<div class="fl-icon-group">
<span class="fl-icon spanclass">
<a href="https://www.facebook.com/groverweb" target="_blank" rel="noopener">
<i class="fab fa-facebook-square" aria-hidden="true"></i>
</a>
</span>
<span class="fl-icon spanclass">
<a href="https://www.linkedin.com/company/grover-web-design" target="_blank" rel="noopener">
<i class="fab fa-linkedin" aria-hidden="true"></i>
</a>
</span>
<span class="fl-icon spanclass">
<a href="https://twitter.com" target="_blank" rel="noopener">
<i class="fab fa-twitter-square" aria-hidden="true"></i>
</a>
</span>
<span class="fl-icon spanclass" >
<a href="https://www.instagram.com/groverweb/" target="_blank" rel="noopener">
<i class="fab fa-instagram" aria-hidden="true"></i>
</a>
</span>
</div>
</div>
</div>
</div>
</div>
</div>

{{>footer}}
</body>
</html>