<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <font size="5px" color="black"><i class="fas fa-subway"></i> Indian Railways <i class="fas fa-subway"></i></font>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-capitalize" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Trains
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/UserLogin">Book Ticket</a>
                
                <a class="dropdown-item" href="http://www.indianrail.gov.in/enquiry/PNR/PnrEnquiry.html?locale=en" target="_blank">PNR Enquiry</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://www.railyatri.in/live-train-status" target="_blank">Track Your Train</a>
                <a class="dropdown-item" href="/AdminLogin">IRCTC Trains</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-capitalize" href="/login">Login</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link text-capitalize" href="/about">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-capitalize" href="/Contact">Contact us</a>
            </li>
        </ul>
    </div>
</nav>
<div style="background-color:grey"><marquee><font size="5px" color="black">Welcome To <font color="#ff9933">In</font><font color="white">di</font><font color="green">an</font> Railway Commodity Reservation System</font></marquee></div>