<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <font size="5px" color="black"><i class="fas fa-subway"></i> Indian Railways <i class="fas fa-subway"></i></font>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <a class="nav-link text-capitalize" href="/UserTrainInfo">Train Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-capitalize" href="/BookingHistory">Booking History</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link text-capitalize" href="/userlogout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div style="background-color:grey"><marquee><font size="5px" color="black">Welcome To <font color="#ff9933">In</font><font color="white">di</font><font color="green">an</font> Railway Commodity Reservation System</font></marquee></div>